@use "sass:list";

.m-online {
    top: 1px;
    bottom: unset !important;
}

$spent_1-49: #808080;
$spent_50-99: #ccac00;
$spent_100-499: #32CD32;
$spent_500: #BA55D3;

.badge {
    position: absolute;
    left: 16px;
    bottom: 0;
    min-width: 50px;
    font-weight: bolder;
	text-transform: uppercase;
	padding: 3px 8px 2px;
    background-color: white;
    color: #c16060;
    border-radius: 3px;
	border: 1px solid rgba(138, 150, 163, .25);
    font-size: 14px;
    text-align: center;
    &.spent-1-49 {
        color: $spent_1-49;
    }

    &.spent-50-99 {
        color: $spent_50-99;
    }

    &.spent-100-499 {
        color: $spent_100-499;
    }

    &.spent-500 {
        color: $spent_500;
    }
}

[id="card"] {
    position: fixed;
	right: 10px;
	top: 10px;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid rgba(138, 150, 163, .25);
	width: 220px;
	background: var(--bg-color);
    font-size: 14px;

    ul {
        list-style: none;
        margin: 0;

        li {
            &.total-summ {
                font-size: 16px;
	            font-weight: bolder;
            }
            &.is-rebill-true,
            &.from-trial-true,
            &.is-expired-true,
            &.has-subscription-true,
            &.subscribed-true,
            &.recent-true {
                color: green;
            }
            &.is-rebill-false,
            &.from-trial-false,
            &.is-expired-false,
            &.has-subscription-false,
            &.subscribed-false,
            &.recent-false {
                color: red;
            }
        }
    }
}

[id="binds"] {
    padding: 2px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	gap: 1px;

    .bind {
        display: block;
        flex: 1 1 8%;
	    height: 2em;
        background: rgba(138, 150, 163, .12);
	    border-radius: 5px;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 1em;
            height: 1em;
            background: grey;
            position: absolute;
            top: calc(50% - .5em);
            left: calc(50% - .5em);
            border-radius: 100%;
        }

        $colors: (
            #FF0055, #00FFCC, #FF3300, #9900FF, #FFFF00, #FF0099, // Неон
            #00E676, #00B0FF, #76FF03, #00E5FF, #1DE9B6, #00E676, // Природа
            #FF1744, #FF9100, #FFEA00, #D500F9, #651FFF, #2979FF, // Модерн
            #00F5FF, #FF0066, #7C4DFF, #1A237E, #00BFA5, #FFEA00  // Космос
        );

        // Цикл @for для генерации классов .item-1, .item-2 и т.д.
        @for $i from 1 through list.length($colors) {
            &.bound:nth-child(#{$i}) {
                &:after {
                    content: ""; // Обязательно для отображения псевдоэлемента
                    background: list.nth($colors, $i);
                }
            }
        }
    }
}

[at-attr="chat_message"] {
    margin-bottom: 1em;

    .message-tools {
        flex: 1 1 100%;
        padding: 3px 0;
        a {
            // margin: 0 1px;
            padding: 3px;
            border-radius: 3px;
            display: inline-block;
            background-color: var(--bg-color);
            background-image: linear-gradient(0deg,rgba(138,150,163,.12),rgba(138,150,163,.12));
        }
        
    }

    &.m-from-me {
        .message-tools {
            a {
                background-image: linear-gradient(0deg,rgba(0,175,240,.12),rgba(0,175,240,.12));
            }
        }
    }
}

[id="tools__massdm"] {
    flex: 1 1 100%;
    align-self: flex-start;
    padding: 3px;
    margin: 3px;
    border-radius: 3px;

    .buttons-group {
        display: flex;
        gap: 3px;
        margin-bottom: 3px;

        button {
            flex-grow: 1;
            font-size: 12px;
            line-height: 12px;
        }

        &:nth-child(3) {
            button {
                flex-basis: 25%;
            }
        }
    }
}

.combine-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: none;
    z-index: 1050;
    background-color: rgba(#000, .5);

    label {
        font-size: 14px;
        position: relative;
        top: 16px;
        left: 12px;
        background: var(--bg-color);
        padding: 0 4px;
        color: #8a96a3;
    }

    fieldset {
        margin: -15px 0 5px;
    }

    .modal-content {
        width: 80%; /* Could be more or less, depending on screen size */
        max-width: 460px;
        animation: modalIn .2s ease-in;
    }

    .modal-body {
        input, textarea {
            box-shadow: inset 0 0 0 1px rgba(138, 150, 163, .25);
            border-radius: 6px;
            padding: 0 16px;
            display: block;
            width: 100%;
        }

        input {
            height: 48px;
        }

        textarea {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .markers {
        margin: 5px;
        list-style: none;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }
}

@keyframes modalIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.m-mode-dark {
    .badge {
        background-color: var(--bg-color);
    }
}

[id="ModalMediaVault"] {
    .l-main-content {
        .photos-tools {
            display: flex;
            justify-content: flex-end;
            position: relative;
            margin-top: -30px;
            z-index: 1000;

            span, a {
                font-weight: bolder;
                padding: 0 7px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                margin-left: -5px;
                min-width: 30px;
                height: 30px;
                border-radius: 30px;
                background-color: #2979FF;
                box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
            }
        }
    }

    @media (min-width: 560px) {
        .modal-dialog.modal-extra-lg {
            max-width: 980px;
        }
    }

    @media (min-width: 1004px) {
        .m-modal-view .l-sidebar-column {
            width: 30%;
        }
    }

    @media (min-width: 1004px) {
        .m-modal-view .l-main-content.m-r-side {
            max-width: 70%;
        }
    }

    .checkbox-item.m-pos-right-top {
        width: 40px;
        height: 40px;
    }
}

.checkbox-item.m-pos-right-top {
    width: 40px;
    height: 40px;
}