@use "sass:list";

.m-online {
    top: 1px;
    bottom: unset !important;
}

$spent_1-49: #808080;
$spent_50-99: #ccac00;
$spent_100-499: #32CD32;
$spent_500: #BA55D3;

.badge {
    position: absolute;
    left: 16px;
    bottom: 0;
    min-width: 50px;
    font-weight: bolder;
	text-transform: uppercase;
	padding: 3px 8px 2px;
    background-color: white;
    color: #c16060;
    border-radius: 3px;
	border: 1px solid rgba(138, 150, 163, .25);
    font-size: 14px;
    text-align: center;
    &.spent-1-49 {
        color: $spent_1-49;
    }

    &.spent-50-99 {
        color: $spent_50-99;
    }

    &.spent-100-499 {
        color: $spent_100-499;
    }

    &.spent-500 {
        color: $spent_500;
    }
}

[id="card"] {
    position: fixed;
	right: 10px;
	top: 10px;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid rgba(138, 150, 163, .25);
	width: 220px;
	background: var(--bg-color);
    font-size: 14px;

    ul {
        list-style: none;
        margin: 0;

        li {
            &.total-summ {
                font-size: 16px;
	            font-weight: bolder;
            }
            &.is-rebill-true,
            &.from-trial-true,
            &.is-expired-true,
            &.has-subscription-true,
            &.subscribed-true,
            &.recent-true {
                color: green;
            }
            &.is-rebill-false,
            &.from-trial-false,
            &.is-expired-false,
            &.has-subscription-false,
            &.subscribed-false,
            &.recent-false {
                color: red;
            }
        }
    }
}

[id="binds"] {
    padding: 2px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	gap: 1px;

    .bind {
        display: block;
        flex: 1 1 8%;
	    height: 2em;
        background: rgba(138, 150, 163, .12);
	    border-radius: 5px;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 1em;
            height: 1em;
            background: grey;
            position: absolute;
            top: calc(50% - .5em);
            left: calc(50% - .5em);
            border-radius: 100%;
        }

        $colors: (
            #FF0055, #00FFCC, #FF3300, #9900FF, #FFFF00, #FF0099, // Неон
            #00E676, #00B0FF, #76FF03, #00E5FF, #1DE9B6, #00E676, // Природа
            #FF1744, #FF9100, #FFEA00, #D500F9, #651FFF, #2979FF, // Модерн
            #00F5FF, #FF0066, #7C4DFF, #1A237E, #00BFA5, #FFEA00  // Космос
        );

        // Цикл @for для генерации классов .item-1, .item-2 и т.д.
        @for $i from 1 through list.length($colors) {
            &.bound:nth-child(#{$i}) {
                &:after {
                    content: ""; // Обязательно для отображения псевдоэлемента
                    background: list.nth($colors, $i);
                }
            }
        }
    }
}

[at-attr="chat_message"] {
    margin-bottom: 1em;

    .message-tools {
        flex: 1 1 100%;
        padding: 3px 0;
        a {
            // margin: 0 1px;
            padding: 3px;
            border-radius: 3px;
            display: inline-block;
            background-color: var(--bg-color);
            background-image: linear-gradient(0deg,rgba(138,150,163,.12),rgba(138,150,163,.12));
        }
        
    }

    &.m-from-me {
        .message-tools {
            a {
                background-image: linear-gradient(0deg,rgba(0,175,240,.12),rgba(0,175,240,.12));
            }
        }
    }
}



.m-mode-dark {
    .badge {
        background-color: var(--bg-color);
    }
}